@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,300,300italic,800,800italic);.select2-container{margin:0;position:relative;display:inline-block;zoom:1;*display:inline;vertical-align:middle;min-width:300px}.select2-container,
.select2-drop,
.select2-search,
.select2-search
input{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.select2-container .select2-choice{display:block;height:26px;padding:0
0 0 8px;overflow:hidden;position:relative;border:1px
solid #aaa;white-space:nowrap;line-height:26px;color:#444;text-decoration:none;border-radius:4px;background-clip:padding-box;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:#fff;background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));background-image:-webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);background-image:-moz-linear-gradient(center bottom, #eee 0%, #fff 50%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);background-image:linear-gradient(to top, #eee 0%, #fff 50%)}html[dir="rtl"] .select2-container .select2-choice{padding:0
8px 0 0}.select2-container.select2-drop-above .select2-choice{border-bottom-color:#aaa;border-radius:0 0 4px 4px;background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.9, #fff));background-image:-webkit-linear-gradient(center bottom, #eee 0%, #fff 90%);background-image:-moz-linear-gradient(center bottom, #eee 0%, #fff 90%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);background-image:linear-gradient(to bottom, #eee 0%, #fff 90%)}.select2-container.select2-allowclear .select2-choice .select2-chosen{margin-right:42px}.select2-container .select2-choice>.select2-chosen{margin-right:26px;display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;float:none;width:auto}html[dir="rtl"] .select2-container .select2-choice>.select2-chosen{margin-left:26px;margin-right:0}.select2-container .select2-choice
abbr{display:none;width:12px;height:12px;position:absolute;right:24px;top:8px;font-size:1px;text-decoration:none;border:0;background:url('/wp-content/plugins/vo-core/VanOns/VOCore/Resources/css/select2.png') right top no-repeat;cursor:pointer;outline:0}.select2-container.select2-allowclear .select2-choice
abbr{display:inline-block}.select2-container .select2-choice abbr:hover{background-position:right -11px;cursor:pointer}.select2-drop-mask{border:0;margin:0;padding:0;position:fixed;left:0;top:0;min-height:100%;min-width:100%;height:auto;width:auto;opacity:0;z-index:9998;background-color:#fff;filter:alpha(opacity=0)}.select2-drop{width:100%;margin-top:-1px;position:absolute;z-index:9999;top:100%;background:#fff;color:#000;border:1px
solid #aaa;border-top:0;border-radius:0 0 4px 4px;-webkit-box-shadow:0 4px 5px rgba(0, 0, 0, .15);box-shadow:0 4px 5px rgba(0,0,0,.15)}.select2-drop.select2-drop-above{margin-top:1px;border-top:1px solid #aaa;border-bottom:0;border-radius:4px 4px 0 0;-webkit-box-shadow:0 -4px 5px rgba(0, 0, 0, .15);box-shadow:0 -4px 5px rgba(0,0,0,.15)}.select2-drop-active{border:1px
solid #5897fb;border-top:none}.select2-drop.select2-drop-above.select2-drop-active{border-top:1px solid #5897fb}.select2-drop-auto-width{border-top:1px solid #aaa;width:auto}.select2-drop-auto-width .select2-search{padding-top:4px}.select2-container .select2-choice .select2-arrow{display:inline-block;width:18px;height:100%;position:absolute;right:0;top:0;border-left:1px solid #aaa;border-radius:0 4px 4px 0;background-clip:padding-box;background:#ccc;background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));background-image:-webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);background-image:-moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0);background-image:linear-gradient(to top, #ccc 0%, #eee 60%)}html[dir="rtl"] .select2-container .select2-choice .select2-arrow{left:0;right:auto;border-left:none;border-right:1px solid #aaa;border-radius:4px 0 0 4px}.select2-container .select2-choice .select2-arrow
b{display:block;width:100%;height:100%;background:url('/wp-content/plugins/vo-core/VanOns/VOCore/Resources/css/select2.png') no-repeat 0 1px}html[dir="rtl"] .select2-container .select2-choice .select2-arrow
b{background-position:2px 1px}.select2-search{display:inline-block;width:100%;min-height:26px;margin:0;padding-left:4px;padding-right:4px;position:relative;z-index:10000;white-space:nowrap}.select2-search
input{width:100%;height:auto !important;min-height:26px;padding:4px
20px 4px 5px;margin:0;outline:0;font-family:sans-serif;font-size:1em;border:1px
solid #aaa;border-radius:0;-webkit-box-shadow:none;box-shadow:none;background:#fff url('/wp-content/plugins/vo-core/VanOns/VOCore/Resources/css/select2.png') no-repeat 100% -22px;background:url('/wp-content/plugins/vo-core/VanOns/VOCore/Resources/css/select2.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));background:url('/wp-content/plugins/vo-core/VanOns/VOCore/Resources/css/select2.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);background:url('/wp-content/plugins/vo-core/VanOns/VOCore/Resources/css/select2.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, #fff 85%, #eee 99%);background:url('/wp-content/plugins/vo-core/VanOns/VOCore/Resources/css/select2.png') no-repeat 100% -22px, linear-gradient(to bottom, #fff 85%, #eee 99%) 0 0}html[dir="rtl"] .select2-search
input{padding:4px
5px 4px 20px;background:#fff url('/wp-content/plugins/vo-core/VanOns/VOCore/Resources/css/select2.png') no-repeat -37px -22px;background:url('/wp-content/plugins/vo-core/VanOns/VOCore/Resources/css/select2.png') no-repeat -37px -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));background:url('/wp-content/plugins/vo-core/VanOns/VOCore/Resources/css/select2.png') no-repeat -37px -22px, -webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);background:url('/wp-content/plugins/vo-core/VanOns/VOCore/Resources/css/select2.png') no-repeat -37px -22px, -moz-linear-gradient(center bottom, #fff 85%, #eee 99%);background:url('/wp-content/plugins/vo-core/VanOns/VOCore/Resources/css/select2.png') no-repeat -37px -22px, linear-gradient(to bottom, #fff 85%, #eee 99%) 0 0}.select2-drop.select2-drop-above .select2-search
input{margin-top:4px}.select2-search input.select2-active{background:#fff url('/wp-content/plugins/vo-core/VanOns/VOCore/Resources/css/select2-spinner.gif') no-repeat 100%;background:url('/wp-content/plugins/vo-core/VanOns/VOCore/Resources/css/select2-spinner.gif') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));background:url('/wp-content/plugins/vo-core/VanOns/VOCore/Resources/css/select2-spinner.gif') no-repeat 100%, -webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);background:url('/wp-content/plugins/vo-core/VanOns/VOCore/Resources/css/select2-spinner.gif') no-repeat 100%, -moz-linear-gradient(center bottom, #fff 85%, #eee 99%);background:url('/wp-content/plugins/vo-core/VanOns/VOCore/Resources/css/select2-spinner.gif') no-repeat 100%, linear-gradient(to bottom, #fff 85%, #eee 99%) 0 0}.select2-container-active .select2-choice,
.select2-container-active .select2-choices{border:1px
solid #5897fb;outline:none;-webkit-box-shadow:0 0 5px rgba(0, 0, 0, .3);box-shadow:0 0 5px rgba(0, 0, 0, .3)}.select2-dropdown-open .select2-choice{border-bottom-color:transparent;-webkit-box-shadow:0 1px 0 #fff inset;box-shadow:0 1px 0 #fff inset;border-bottom-left-radius:0;border-bottom-right-radius:0;background-color:#eee;background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #fff), color-stop(0.5, #eee));background-image:-webkit-linear-gradient(center bottom, #fff 0%, #eee 50%);background-image:-moz-linear-gradient(center bottom, #fff 0%, #eee 50%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);background-image:linear-gradient(to top, #fff 0%, #eee 50%)}.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices{border:1px
solid #5897fb;border-top-color:transparent;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(0.5, #eee));background-image:-webkit-linear-gradient(center top, #fff 0%, #eee 50%);background-image:-moz-linear-gradient(center top, #fff 0%, #eee 50%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);background-image:linear-gradient(to bottom, #fff 0%, #eee 50%)}.select2-dropdown-open .select2-choice .select2-arrow{background:transparent;border-left:none;filter:none}html[dir="rtl"] .select2-dropdown-open .select2-choice .select2-arrow{border-right:none}.select2-dropdown-open .select2-choice .select2-arrow
b{background-position:-18px 1px}html[dir="rtl"] .select2-dropdown-open .select2-choice .select2-arrow
b{background-position:-16px 1px}.select2-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.select2-results{max-height:200px;padding:0
0 0 4px;margin:4px
4px 4px 0;position:relative;overflow-x:hidden;overflow-y:auto;-webkit-tap-highlight-color:rgba(0, 0, 0, 0)}html[dir="rtl"] .select2-results{padding:0
4px 0 0;margin:4px
0 4px 4px}.select2-results ul.select2-result-sub{margin:0;padding-left:0}.select2-results
li{list-style:none;display:list-item;background-image:none}.select2-results li.select2-result-with-children>.select2-result-label{font-weight:bold}.select2-results .select2-result-label{padding:3px
7px 4px;margin:0;cursor:pointer;min-height:1em;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.select2-results-dept-1 .select2-result-label{padding-left:20px}.select2-results-dept-2 .select2-result-label{padding-left:40px}.select2-results-dept-3 .select2-result-label{padding-left:60px}.select2-results-dept-4 .select2-result-label{padding-left:80px}.select2-results-dept-5 .select2-result-label{padding-left:100px}.select2-results-dept-6 .select2-result-label{padding-left:110px}.select2-results-dept-7 .select2-result-label{padding-left:120px}.select2-results .select2-highlighted{background:#3875d7;color:#fff}.select2-results li
em{background:#feffde;font-style:normal}.select2-results .select2-highlighted
em{background:transparent}.select2-results .select2-highlighted
ul{background:#fff;color:#000}.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-ajax-error,
.select2-results .select2-selection-limit{background:#f4f4f4;display:list-item;padding-left:5px}.select2-results .select2-disabled.select2-highlighted{color:#666;background:#f4f4f4;display:list-item;cursor:default}.select2-results .select2-disabled{background:#f4f4f4;display:list-item;cursor:default}.select2-results .select2-selected{display:none}.select2-more-results.select2-active{background:#f4f4f4 url('/wp-content/plugins/vo-core/VanOns/VOCore/Resources/css/select2-spinner.gif') no-repeat 100%}.select2-results .select2-ajax-error{background:rgba(255,50,50,.2)}.select2-more-results{background:#f4f4f4;display:list-item}.select2-container.select2-container-disabled .select2-choice{background-color:#f4f4f4;background-image:none;border:1px
solid #ddd;cursor:default}.select2-container.select2-container-disabled .select2-choice .select2-arrow{background-color:#f4f4f4;background-image:none;border-left:0}.select2-container.select2-container-disabled .select2-choice
abbr{display:none}.select2-container-multi .select2-choices{height:auto !important;height:1%;margin:0;padding:0
5px 0 0;position:relative;border:1px
solid #aaa;cursor:text;overflow:hidden;background-color:#fff;background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eee), color-stop(15%, #fff));background-image:-webkit-linear-gradient(top, #eee 1%, #fff 15%);background-image:-moz-linear-gradient(top, #eee 1%, #fff 15%);background-image:linear-gradient(to bottom, #eee 1%, #fff 15%)}html[dir="rtl"] .select2-container-multi .select2-choices{padding:0
0 0 5px}.select2-locked{padding:3px
5px 3px 5px !important}.select2-container-multi .select2-choices{min-height:26px}.select2-container-multi.select2-container-active .select2-choices{border:1px
solid #5897fb;outline:none;-webkit-box-shadow:0 0 5px rgba(0, 0, 0, .3);box-shadow:0 0 5px rgba(0, 0, 0, .3)}.select2-container-multi .select2-choices
li{float:left;list-style:none}html[dir="rtl"] .select2-container-multi .select2-choices
li{float:right}.select2-container-multi .select2-choices .select2-search-field{margin:0;padding:0;white-space:nowrap}.select2-container-multi .select2-choices .select2-search-field
input{padding:5px;margin:1px
0;font-family:sans-serif;font-size:100%;color:#666;outline:0;border:0;-webkit-box-shadow:none;box-shadow:none;background:transparent !important}.select2-container-multi .select2-choices .select2-search-field input.select2-active{background:#fff url('/wp-content/plugins/vo-core/VanOns/VOCore/Resources/css/select2-spinner.gif') no-repeat 100% !important}.select2-default{color:#999 !important}.select2-container-multi .select2-choices .select2-search-choice{padding:3px
5px 3px 18px;margin:3px
0 3px 5px;position:relative;line-height:13px;color:#333;cursor:default;border:1px
solid #aaa;border-radius:3px;-webkit-box-shadow:0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);box-shadow:0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);background-clip:padding-box;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:#e4e4e4;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0);background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eee));background-image:-webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);background-image:-moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);background-image:linear-gradient(to top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%)}html[dir="rtl"] .select2-container-multi .select2-choices .select2-search-choice{margin:3px
5px 3px 0;padding:3px
18px 3px 5px}.select2-container-multi .select2-choices .select2-search-choice .select2-chosen{cursor:default}.select2-container-multi .select2-choices .select2-search-choice-focus{background:#d4d4d4}.select2-search-choice-close{display:block;width:12px;height:13px;position:absolute;right:3px;top:4px;font-size:1px;outline:none;background:url('/wp-content/plugins/vo-core/VanOns/VOCore/Resources/css/select2.png') right top no-repeat}html[dir="rtl"] .select2-search-choice-close{right:auto;left:3px}.select2-container-multi .select2-search-choice-close{left:3px}html[dir="rtl"] .select2-container-multi .select2-search-choice-close{left:auto;right:2px}.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover{background-position:right -11px}.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close{background-position:right -11px}.select2-container-multi.select2-container-disabled .select2-choices{background-color:#f4f4f4;background-image:none;border:1px
solid #ddd;cursor:default}.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice{padding:3px
5px 3px 5px;border:1px
solid #ddd;background-image:none;background-color:#f4f4f4}.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close{display:none;background:none}.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match{text-decoration:underline}.select2-offscreen,.select2-offscreen:focus{clip:rect(0 0 0 0) !important;width:1px !important;height:1px !important;border:0
!important;margin:0
!important;padding:0
!important;overflow:hidden !important;position:absolute !important;outline:0
!important;left:0px !important;top:0px !important}.select2-display-none{display:none}.select2-measure-scrollbar{position:absolute;top:-10000px;left:-10000px;width:100px;height:100px;overflow:scroll}@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx){.select2-search input,
.select2-search-choice-close,
.select2-container .select2-choice abbr,
.select2-container .select2-choice .select2-arrow
b{background-image:url('/wp-content/plugins/vo-core/VanOns/VOCore/Resources/css/select2x2.png') !important;background-repeat:no-repeat !important;background-size:60px 40px !important}.select2-search
input{background-position:100% -21px !important}}.posts-selector{border-top:1px solid dimgrey}.posts-selector:last-child{margin-bottom:20px;border-bottom:1px solid dimgrey}.posts-selector p:last-child{margin-bottom:20px}.frontmenu-fields input, .frontmenu-fields
textarea{padding:5px;font-size:1.2em}.frontmenu-field-image{position:relative;margin:20px
0}.frontmenu-field-image-holder{overflow:hidden;width:120px;height:120px;border:1px
solid #dfdfdf;background:#f5f5f5;max-width:100%}.frontmenu-field-image-holder:hover{background-color:#eee}.frontmenu-field-image-select{display:block;height:200px;text-align:center;line-height:200px}.frontmenu-field-image-select
img{max-width:100%;max-height:100%;height:auto}.empty .frontmenu-field-image-select{padding-top:120px;height:0px;background:url(/wp-content/plugins/vo-core/VanOns/VOCore/Resources/images/media-button-2x.png) no-repeat center;line-height:normal}.frontmenu-field-image-delete{background:url(/wp-content/plugins/vo-core/VanOns/VOCore/Resources/images/cross.png);display:block;height:32px;right:263px;position:absolute;top:-14px;width:32px}.frontmenu-field-image-delete.empty{display:none}.vo_highlights_container{clear:both;margin:0px
-5px}.vo_highlights_row{}.vo_highlights_cell{width:33.3333%;float:left;height:310px}.vo_highlights_article{position:relative;padding:5px;box-sizing:border-box;height:100%}.vo_highlights_article
.image{background-position:center center;background-repeat:no-repeat;background-size:cover;display:block;height:120px;width:100%;border-radius:3px}.vo_highlights_box p:last-child{position:absolute;bottom:10px;margin:0}.vo_highlights_box p:last-child
a{font-size:15px}.vo_highlights_article h3,
.vo_highlights_article h3
a{color:#c80815;font-weight:bold;display:block;min-height:1.4em;font-size:15px;margin:0;text-decoration:none}.vo_highlights_article a:hover{text-decoration:underline}.vo_highlights_article
img{max-width:100%;border-radius:3px}.vo_highlights_box>a{font-size:14px;font-weight:bold;text-decoration:none;line-height:1em}.vo_highlights_box
p{font-size:13px;color:black;margin:7px
0}.vo_highlights_box{border:1px
solid #DDD;height:100%;padding:10px
10px 30px 10px;box-sizing:border-box;position:relative;background:#F0ECEC;border-radius:3px}@media only screen and (min-width: 480px) and (max-width: 767px){.vo_highlights_cell{width:50% !important;height:310px !important}}@media only screen and (max-width: 479px){.vo_highlights_cell{width:100% !important;height:auto !important}.vo_highlights_article{padding-bottom:10px}}.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus{outline:none}.slides,.flex-control-nav,.flex-direction-nav{margin:0;padding:0;list-style:none}.flexslider{margin:0;padding:0}.flexslider .slides>li{display:none;-webkit-backface-visibility:hidden}.flexslider .slides
img{max-width:100%;display:block}.flex-pauseplay
span{text-transform:capitalize}.slides:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}html[xmlns] .slides{display:block}* html
.slides{height:1%}.no-js .slides>li:first-child{display:block}.flexslider{background:#fff;border:4px
solid #fff;position:relative;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;border-radius:5px;zoom:1}.flexslider
.slides{zoom:1}.flexslider .slides>li{position:relative}.flex-container{zoom:1;position:relative}.flex-caption{background:none;-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);zoom:1}.flex-caption{width:96%;padding:2%;margin:0;position:absolute;left:0;bottom:0;background:rgba(0,0,0,.3);color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,.3);font-size:14px;line-height:18px}.flex-direction-nav{height:0}.flex-direction-nav li
a{width:52px;height:52px;margin:-13px 0 0;display:block;background:url(/wp-content/themes/travel_island/flexslider/theme/bg_direction_nav.png) no-repeat;position:absolute;top:50%;cursor:pointer;text-indent:-999em}.flex-direction-nav li
.next{background-position:-52px 0;right:-21px}.flex-direction-nav li
.prev{left:-20px}.flex-direction-nav li
.disabled{opacity: .3;filter:alpha(opacity=30);cursor:default}.flex-control-nav{width:100%;position:absolute;bottom:-30px;text-align:center}.flex-control-nav
li{margin:0
0 0 5px;display:inline-block;zoom:1;*display:inline}.flex-control-nav li:first-child{margin:0}.flex-control-nav li
a{width:13px;height:13px;display:block;background:url(/wp-content/themes/travel_island/flexslider/theme/bg_control_nav.png) no-repeat;cursor:pointer;text-indent:-999em}.flex-control-nav li a:hover{background-position:0 -13px}.flex-control-nav li
a.active{background-position:0 -26px;cursor:default}body{background-color:#ebe7e7;color:#222;font-size:14px;margin:0;padding:0;font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important;line-height:1.5em}body.admin-bar{background-position:0  -28px  !important}html,body,#holder{min-height:100%;width:100%;height:100%}html>body,  html>body
#holder{height:auto}#holder{position:absolute;top:0;left:0}#footer_decal{clear:both;bottom:0;left:0;border:none;width:100%;height:306px;text-align:center}#footer_decal
div{height:306px}/*\*/#footer_decal{position:absolute}/**/ html>body
div#footer_decal{}/*\*/head:first-child+body
div#footer_decal{position:absolute}/**/a,a:link,a:visited{color:#003DFF}a:hover{color:#414142;text-decoration:underline}h1,h2,h3,h4{margin:0;padding:0;font-weight:normal;clear:both}h1{font-size:24px;color:#222;margin-bottom:30px;line-height:24px}h2{font-size:20px;color:#222;margin:20px
0 15px;border-bottom:#222 solid 1px;padding-bottom:3px;line-height:22px}h3{font-size:20px;color:#666;margin:20px
0 15px;line-height:22px}h4{font-size:20px;color:#000;margin-bottom:15px;line-height:20px;padding-left:15px}img{border:0}.awesome{font-family:'FontAwesome'}h2
a{text-decoration:none}h2 a:hover{text-decoration:underline}.align-text-center{text-align:center}.clear-both{clear:both}#wrapper{width:979px;margin:0
auto}#header{width:100%;padding-bottom:0}.header-top{height:138px;position:relative}.header-newsletter{position:absolute;bottom:15px;left:0;z-index:99999999;display:none}.header-mobile{display:none}.searchform{float:left;background:#fff;height:31px;border-radius:14px;clear:both;position:relative;padding-left:15px;padding-right:35px;box-sizing:border-box;width:100%;border:#ddd solid 1px;line-height:29px;margin:5px
0}.searchform input[type=text]{border:0;width:100%;padding:0;margin:0;background:transparent;color:#000;font-size:14px}.searchform input[type=submit], .searchform
.searchsubmit{position:absolute;right:-2px;top:-1px;height:31px;width:31px;line-height:31px;overflow:hidden;background:#CC081C;border:0;border-radius:15px;cursor:pointer;font-family:'FontAwesome';color:white;font-size:15px;text-align:center}.header-mobile
.searchform{float:right;margin:0
0 0 10px;box-sizing:content-box;width:auto;border:0;background:#fff}.header-mobile .searchform input[type=text]{border:0;width:100px;color:#000;font-size:11px}.header-mobile .searchform input[type=submit], .header-mobile .searchform
.searchsubmit{right:0;top:0;background:#2f2f2f}body.admin-bar
#header{padding-top:28px}#header_logo{position:absolute;bottom:0;left:0}#header_logo
img{border:none;max-height:150px;margin-bottom:10px}#header_search{float:right;margin:25px
5px  0  0;width:240px}#header_search
form{margin:0;padding:0}#header_search_content{width:240px;height:40px;position:absolute;z-index:3;padding:7px
0  0  7px}#header_search_input{border:0;background:#FFF;width:171px;height:20px;padding:3px}#header_search_button{border:0;background:transparent;color:#f0ecec;text-transform:uppercase;padding:0px;font-size:12px;font-weight:bold;margin:0
0  0  3px}#header_search_background{opacity:0.5;background-color:#f0ecec;border-radius:5px;width:240px;height:40px;position:absolute;z-index:1}#content_bg{background:#fff;border-radius:3px}.content_main{background:#fff;padding:30px;padding-top:20px;min-height:450px}.content_main.right_column{border-bottom-right-radius:5px;border-top-right-radius:5px}.content_main.left_column{border-bottom-left-radius:5px;border-top-left-radius:5px}.content_main.full_column{border-radius:5px}.left_column{float:left}.width_695{width:679px}.right_column{float:right}.width_223{width:240px}#footer{height:48px;padding:0;margin:0;font-size:12px;color:#222}#footer
.right{width:100%;float:left;padding-top:15px;text-align:center}#footer
.left{width:0}#footer  a,  #footer  a:link,  #footer  a:visited{color:#222;text-decoration:none}#footer  a:hover{text-decoration:underline}#footer
ul{margin:0;padding:0}#footer  ul
li{list-style:none;display:inline;margin:0
3px;padding:0
8px  0  0;border-right:1px  solid  #7c7c7e}#footer  ul  li:last-child{border-right:0}#footer  ul
ul{display:none}#footer  li.first-child  a,
#footer  li:first-child
a{border-right:none}#footer .footer-bottom
p{margin-top:15px}#footer .footer-bottom{clear:both;width:100%;float:left}.clear{margin:0px;padding:0;line-height:0;border:0;clear:both;visibility:hidden}blockquote{font-style:italic  !important;font-weight:normal;margin:0
3em}blockquote  em,
blockquote  i,
blockquote
cite{font-style:normal}blockquote
cite{color:#f0ecec;font:12px  "Helvetica  Neue",Helvetica,Arial,sans-serif;font-weight:300;letter-spacing:0.05em;text-transform:uppercase}div.blog{width:100%;margin-bottom:20px}div.blog
h3{clear:both}.blog_summary{margin-top:20px;min-height:150px}.blog_full{margin-top:20px;min-height:150px}.blog_summary
.blog_thumb{width:146px;position:absolute;margin-left:3px}.blog_thumb
.thumb_thumb_decoration{position:absolute;display:block;width:138px;height:138px;border:1px
solid  #FFF;margin-left:3px;opacity:0.5;margin-top:3px}.blog_summary
.blog_text.has_image{padding-left:179px}.blog_text
p{margin:0
0  10px  0;padding:0}.blog_text p img:nth-child(2){float:right}div.blog
.date_flag{width:76px;height:74px;float:right;margin-right:20px;text-align:center;color:#FFF;text-shadow:1px  1px  #0F3963}div.blog  .date_flag
span{display:block;width:76px}div.blog  .date_flag
span.day{font-size:18px;height:20px;margin-top:5px}div.blog  .date_flag
span.month{font-size:13px;height:16px}div.blog  .date_flag
span.year{font-size:13px;height:16px}.blog_text
.date_flag{margin-top:-62px}ul.bullets
li{list-style-image:url(/wp-content/themes/travel_island/images/dot.png)}.blog_footer{clear:both;margin-top:15px;padding:0
0 5px 0;font-size:12px;line-height:normal}.blog_footer
ul{list-style:none;margin:7px
0  0  0;padding:0;color:#7c7c7e;float:left;width:573px}.blog_footer  ul
li{list-style:none;margin:0;padding:0
10px  0  0;float:left}.blog_footer  a,  .blog_footer  a:link,  .blog_footer  a:visited{color:#7c7c7e;text-decoration:none}.blog_footer  a:hover{text-decoration:underline}.blog_footer
a.dtbaker_button_light{float:right;margin:5px
23px  0  0}.assistive-text{position:absolute  !important;clip:rect(1px,  1px,  1px,  1px);clip:rect(1px,  1px,  1px,  1px)}#access  a.assistive-text:active,
#access  a.assistive-text:focus{background:#E7E2AF;border-bottom:1px  solid  #7c7c7e;color:#1982d1;clip:auto  !important;font-size:12px;position:absolute;text-decoration:underline;top:0;left:7.6%}.navigation{xheight:45px;margin:0
0  20px  0;padding:0
31px}.navigation  a,
.navigation  a:link,
.navigation  a:visited{background:#7c7c7e;color:#000;text-transform:uppercase;font-size:14px;border-radius:3px;padding:2px
6px;text-decoration:none;text-align:center}.navigation  .nav-previous{float:left}.navigation  .nav-next{float:right}.navigation  .meta-nav{display:none}.widget  .searchform
label{display:none}.widget{clear:both;margin:0px
0  5px  0;line-height:normal;padding:5px}.widget
a{text-decoration:none}.widget  a:hover,
.widget  a:focus,
.widget  a:active{text-decoration:underline}.widget
ul{margin:0
6px  0  10px  !important;padding:0px;list-style:none;font-size:14px}.widget  ul
li{margin:0px;padding:4px
0;line-height:normal}.widget_product_categories  ul
li{line-height:19px}.widget>div>ul>li>a,.widget>ul>li>a{display:block;border-bottom:1px solid #ddd;padding:0
0  5px  0;margin-right:5px}.widget  ul  li  a,
.widget  ul  li  a:link,
.widget  ul  li  a:visited{color:#222}.widget  ul  li  a:hover{}.widget-title{font-weight:normal;font-size:16px;z-index:80;margin:0
-5px  10px  -5px;padding:5px
10px;background:#cc081c;border-bottom:2px solid #cc081c;color:#fff;border-top-left-radius:3px;border-bottom-left-radius:3px}#widget_area_bottom
div.widget{float:left;width:223px;clear:none;margin:0
9px  20px  0}#calendar_wrap{padding-left:7px}.widget_calendar  #wp-calendar{color:#4E83B8;width:95%;text-align:center}.widget_calendar  #wp-calendar  caption,
.widget_calendar  #wp-calendar  td,
.widget_calendar  #wp-calendar
th{text-align:center}.widget_calendar  #wp-calendar
caption{font-size:11px;font-weight:500;padding:5px
0  3px  0;text-transform:uppercase}.widget_calendar  #wp-calendar
th{border-top:1px  solid  #C9E1EB;border-bottom:1px  solid  #C9E1EB;font-weight:bold}.widget_calendar  #wp-calendar  tfoot
td{border-top:1px  solid  #C9E1EB;border-bottom:1px  solid  #C9E1EB}.widget_calendar
a{font-weight:bold;text-decoration:underline}#comments-title{font-weight:normal}.nopassword,.nocomments{color:#aaa;font-size:24px;font-weight:100;margin:26px
0;text-align:center}.commentlist{list-style:none;margin:0
0  0  62px}.content  .commentlist,
.page-template-sidebar-page-php
.commentlist{width:100%}.commentlist>li.comment{background:#f6f6f6;border:1px
solid  #ddd;-moz-border-radius:3px;border-radius:3px;margin:0
0  1.625em;padding:1.625em;position:relative}#reviews  .commentlist>li.comment{background:#FFF}.commentlist
.pingback{margin:0
0  1.625em;padding:0
1.625em}.commentlist
.children{list-style:none;margin:0}.commentlist  .children
li.comment{background:#fff;border-left:1px  solid  #ddd;-moz-border-radius:0  3px  3px  0;border-radius:0  3px  3px  0;margin:1.625em  0  0;padding:1.625em;position:relative}.commentlist  .children  li.comment
.fn{display:block}.comment-meta
.fn{font-style:normal}.comment-meta{color:#666;font-size:12px;line-height:2.2em}.commentlist  .children  li.comment  .comment-meta{line-height:1.625em;margin-left:50px}.commentlist  .children  li.comment  .comment-content{margin:1.625em  0  0}.comment-meta
a{font-weight:bold}.comment-meta  a:focus,
.comment-meta  a:active,
.comment-meta  a:hover{}.commentlist
.avatar{-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0  1px  2px  #ccc;-moz-box-shadow:0  1px  2px  #ccc;box-shadow:0  1px  2px  #ccc;left:-102px;padding:0;position:absolute;top:0}#blog_comments  .commentlist>li:before{content:url(/wp-content/themes/travel_island/images/comment-arrow.png);left:-21px;position:absolute}.commentlist>li.pingback:before{content:''}.commentlist  .children
.avatar{background:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;left:2.2em;padding:0;top:2.2em}a.comment-reply-link{background:#E7E2AF;-moz-border-radius:3px;border-radius:3px;color:#666;display:inline-block;font-size:12px;padding:0
8px;text-decoration:none}a.comment-reply-link:hover,a.comment-reply-link:focus,a.comment-reply-link:active{background:#888;color:#fff}a.comment-reply-link>span{display:inline-block;position:relative;top:-1px}.commentlist>li.bypostauthor{background:#fafafa;border-color:#d3d3d3}.commentlist  >  li.bypostauthor  .comment-meta{color:#575757}.commentlist  >  li.bypostauthor  .comment-meta  a:focus,
.commentlist  >  li.bypostauthor  .comment-meta  a:active,
.commentlist  >  li.bypostauthor  .comment-meta  a:hover{}.commentlist>li.bypostauthor:before{content:url(/wp-content/themes/travel_island/images/comment-arrow-bypostauthor.png)}.commentlist  .children>li.bypostauthor{background:#fafafa;border-color:#d3d3d3}.page-template-sidebar-page-php  .commentlist  >  li.comment,
.page-template-sidebar-page-php.commentlist
.pingback{margin-left:102px;width:auto}.page-template-sidebar-page-php
#respond{width:auto}#respond{background:#FFF;border:1px
solid  #E8F4FE;-moz-border-radius:5px;border-radius:5px;margin:0;padding:1.625em;position:relative}#respond  input[type="text"],
#respond
textarea{background:#fff;border:4px
solid  #E8F4FE;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:inset  0  1px  3px  rgba(204,204,204,0.95);-moz-box-shadow:inset  0  1px  3px  rgba(204,204,204,0.95);box-shadow:inset  0  1px  3px  rgba(204,204,204,0.95);position:relative;padding:10px;text-indent:80px}#respond  .comment-form-author,
#respond  .comment-form-email,
#respond  .comment-form-url,
#respond  .comment-form-comment{position:relative}#respond  .comment-form-author  label,
#respond  .comment-form-email  label,
#respond  .comment-form-url  label,
#respond  .comment-form-comment
label{background:#E8F4FE;-webkit-box-shadow:1px  2px  2px  rgba(204,204,204,0.8);-moz-box-shadow:1px  2px  2px  rgba(204,204,204,0.8);box-shadow:1px  2px  2px  rgba(204,204,204,0.8);color:#555;display:inline-block;font-size:13px;left:4px;min-width:60px;padding:4px
10px;position:relative;top:40px;z-index:1}#respond  input[type="text"]:focus,
#respond  textarea:focus{text-indent:0;z-index:1}#respond
textarea{resize:vertical;width:95%}#respond  .comment-form-author  .required,
#respond  .comment-form-email
.required{color:#bd3500;font-size:22px;font-weight:bold;left:75%;position:absolute;top:45px;z-index:1}#respond  .comment-notes,
#respond  .logged-in-as{font-size:13px}#respond
p{margin:10px
0}#respond  .form-submit{float:right;margin:-20px  0  10px;width:132px}#respond
input#submit{border:none;padding:6px
10px;font-weight:normal;font-size:15px;margin:20px
0;position:relative;left:30px;border-radius:5px;background:#7c7c7e;color:#000;text-decoration:none;text-align:center}#respond  #cancel-comment-reply-link{color:#666;margin-left:10px;text-decoration:none}#respond  .logged-in-as  a:hover,
#respond  #cancel-comment-reply-link:hover{text-decoration:underline}.commentlist
#respond{margin:1.625em  0  0;width:auto}#reply-title{font-size:22px;font-weight:bold;line-height:30px;margin:10px
0;padding:0}#cancel-comment-reply-link{color:#888;display:block;font-size:10px;font-weight:normal;line-height:2.2em;letter-spacing:0.05em;position:absolute;right:1.625em;text-decoration:none;top:1.1em}#cancel-comment-reply-link:focus,#cancel-comment-reply-link:active,#cancel-comment-reply-link:hover{color:#ff4b33}#respond
label{line-height:2.2em}#respond  input[type=text]{display:block;height:24px;width:75%}#respond
p{font-size:12px}p.comment-form-comment{margin:0}.form-allowed-tags{display:none}.alignleft{display:inline;float:left;margin-right:15px}.alignright{display:inline;float:right;margin-left:15px}.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto}.gallery{margin:auto}.gallery-item{float:left;margin-top:10px;text-align:center;width:33%}.gallery
img{display:inline-block;padding:5px;background:#FFF;border-radius:5px;border:none}.gallery-caption{margin-left:0}.blog_text p img,
.entry-content  img,
.comment-content
img{max-width:100%;border-radius:3px}.widget
img{max-width:97.5%}img[class*="align"],img[class*="wp-image-"]{height:auto}img.size-full{max-width:100%;width:auto}.entry-content  img.wp-smiley{border:none;margin-bottom:0;margin-top:0;padding:0}img.alignleft,img.alignright,img.aligncenter{margin-bottom:1.625em}p  img,.wp-caption{}.wp-caption{background:#E7E2AF;margin-bottom:1.625em;max-width:96%;padding:9px}.wp-caption
img{display:block;margin:0
auto;max-width:98%}.wp-caption  .wp-caption-text,.gallery-caption{color:#666;font-size:12px}.wp-caption  .wp-caption-text{margin-bottom:0.6em;padding:10px
0  5px  40px;position:relative}.wp-caption  .wp-caption-text:before{color:#666;content:'\2014';font-size:14px;font-style:normal;font-weight:bold;margin-right:5px;position:absolute;left:10px;top:7px}#content
.gallery{margin:0
auto  1.625em}#content  .gallery  a
img{border:none}img#wpstats{display:block;margin:0
auto  1.625em}#content  .gallery-columns-4  .gallery-item{width:23%;padding-right:2%}#content  .gallery-columns-4  .gallery-item
img{width:100%;height:auto}#content  .gallery  .gallery-icon
img{border:1px
solid  #f0ecec;padding:6px}.wp-caption
img{border-color:#c7c7c7}.wpcf7_form{margin-top:20px;clear:both}.wpcf7_form
label{float:left;width:100px;font-weight:bold;clear:left;padding:10px
0  0  0}.wpcf7_form  input,  .wpcf7_form
textarea{width:310px;margin-bottom:20px;float:left;background-color:#f8ffda;border:1px
solid  #e6ed9d;padding:10px;font-family:inherit;font-size:inherit}.wpcf7_form
textarea{width:540px;height:112px}.wpcf7_form
.boxes{width:1em}.wpcf7_form
#submitbutton{margin:0
0  30px  100px;width:100px;height:31px;border:none;color:#613c12;font-size:14px;padding:0px;font-weight:bold}.googlemap{width:100%;margin:0
0  20px  0;clear:both;border:1px
solid  #e8e3b3}div.map_buttons{margin:0px;padding:0px;text-align:center}div.map_buttons
a{display:inline-block;background:#f0ecec;color:#FFF;font-size:12px;border-radius:3px;padding:2px
6px;text-decoration:none;text-align:center}.map_input{border:none  !important;padding:3px}#go_button{width:156px;height:46px;padding:0px
0  10px  0;border:none;font-size:16px;line-height:normal;clear:right}.flexslider_wrapper,.flexslider_wrapper_normal{padding-bottom:30px}.flexslider_wrapper
.flexslider_images{width:72%;float:left}.flexslider_wrapper
.flexslider_sidebar{width:28%;float:left}.flexslider_wrapper  .flexslider_sidebar
ul{background-color:#c7c7c7;margin:0;padding:0;list-style:none;height:100%;border-top-right-radius:5px;border-bottom-right-radius:5px}.flexslider_wrapper  .flexslider_sidebar  ul
li{margin:0;padding:0;list-style:none;border-bottom:1px  solid  #FFF;margin-bottom:-1px}.flexslider_wrapper  .flexslider_sidebar  ul
li.last{border-bottom:none}.flexslider_wrapper
.flexslider{border:0;-webkit-border-radius:0px;-moz-border-radius:0px;-o-border-radius:0px;border-radius:0px}.flexslider_wrapper  .flexslider_sidebar  li
a{display:block;height:100%;padding:0
0  0  24px;background:url(/wp-content/themes/travel_island/images/icon_arrow.png)  no-repeat  88%  50%;text-decoration:none;color:#000;font-size:18px}.flexslider_wrapper  .flexslider_sidebar  li
a.active{color:#FFF}.flexslider_wrapper  .flexslider_sidebar  li  a
span{display:table-cell;vertical-align:middle}.flexslider  .slides
img{border-top-left-radius:5px;border-bottom-left-radius:5px}.flexslider_wrapper_normal  .slides
img{border-top-right-radius:5px;border-bottom-right-radius:5px}.full_banner{height:32px;background:#f0ecec;border-radius:4px;clear:both;margin:-10px  0  30px  0;padding:7px
8px  0  8px}.full_banner
.link{float:right}.full_banner
.title{font-size:20px;color:#000;margin:2px
10px  0  9px;display:inline-block;float:left;padding:0}.full_banner
.content{font-size:18px;color:#000;margin:1px
10px  0  9px;display:inline-block;float:left;padding:0}.full_banner  .content
strong{color:#f0ecec;font-weight:normal}a.dtbaker_button,a.dtbaker_button:link,a.dtbaker_button:visited{background:#f0ecec;color:#FFF;text-transform:uppercase;font-size:12px;border-radius:3px;padding:2px
6px;text-decoration:none;text-align:center}a.dtbaker_button_light,a.dtbaker_button_light:link,a.dtbaker_button_light:visited{background:#f0ecec;color:#000;text-transform:uppercase;font-size:12px;border-radius:3px;padding:2px
6px;text-decoration:none;text-align:center}.fancy_post{width:300px;min-height:300px;float:left;margin:0
50px  30px  0}.fancy_posts .fancy_post:nth-child(odd){margin-right:0}.fancy_posts .fancy_post:nth-child(even){margin-right:0;float:right}.full_column
.fancy_post{margin-right:42px}.fancy_post.columns3{width:211px;margin-right:22px}.full_column
.fancy_post.columns3{width:278px;margin-right:40px}.fancy_image{display:inline-block;padding:3px;max-width:100%;box-sizing:border-box;border-radius:3px;background:#ddd}.fancy_image
img{max-width:100%;display:block;border-radius:3px;height:auto}.blog_full
.fancy_image{margin:0
22px  10px  0;float:left}.fancy_post
h3{font-size:20px;margin:5px
0  0  0;padding:0px;font-weight:normal}.fancy_post  h3  a,  .fancy_post  h3  a:link,  .fancy_post  h3  a:visited{text-decoration:none}.fancy_posts .columns2:nth-child(2n+1){clear:both}div.wpcf7{margin:0;padding:0
0  25px  0  !important}.wpcf7  p
span{position:relative;margin-top:-32px;padding-left:132px;display:block}.wpcf7
p{margin:0;padding:6px
0  0  0;font-weight:normal;clear:both}.wpcf7  input,.wpcf7
textarea{width:310px;margin-bottom:20px;float:left;background-color:#FFF;border:1px
solid  #C9E4FE;padding:10px;font-family:inherit;font-size:inherit}.wpcf7  .wpcf7-submit{margin-left:132px;background:#7c7c7e;color:#000;text-transform:uppercase;font-size:14px;border-radius:3px;padding:2px
6px;text-decoration:none;text-align:center;width:auto}ul#social{list-style:none;margin:0px;padding:10px
0  0  0;height:40px}ul#social  li
a{border:0}ul#social
li{float:left;width:32px;padding:0
5px  0  5px  !important;border:0
!important}ul.opening_hours  li
strong{width:72px;display:inline-block}ul.opening_hours
li{border-bottom:1px  solid  #C9E1EB}div.blog
.date_flag{display:none}.blog_text
.date_flag{display:none}.navigation  .nav-next{display:none}.navigation  .nav-previous{display:none}.comments-link{display:none}#respond{display:none}.entry-meta{display:none}.fancy_post{min-height:340px}.blog_footer
ul{display:none}.comment-meta{display:none}a#backbtn{text-decoration:none;xmargin-left:580px;margin:0
auto;font-size:16px;color:black}a#backbtn:hover{xmargin-left:580px}#blog_comments{display:none}.widget
.indent{color:#FFF;height:100%;overflow:hidden;padding:0}.block-inner{clear:both;margin-top:8px;overflow:auto}.fancy_post.columns2{min-height:373px}#nav-single{display:none}.pagination{clear:both;padding:20px
0;position:relative;font-size:11px;line-height:13px}.pagination  span,  .pagination
a{display:block;float:left;margin:2px
2px  2px  0;padding:6px
9px  5px  9px;text-decoration:none;width:auto;color:#fff;background:#555}.pagination  a:hover{color:#fff;background:#3279BB}.pagination
.current{padding:6px
9px  5px  9px;background:#3279BB;color:#fff}.wp-video{float:left;margin-right:15px}.breadcrumbs:before,.breadcrumbs:after{content:" ";display:table}.breadcrumbs:after{clear:both}.breadcrumbs:before,.breadcrumbs:after{content:" ";display:table}.breadcrumbs{margin:0
0 15px 0;padding-left:0}.breadcrumbs
li{display:block;float:left;font-size:11px}.breadcrumbs li:before{content:'>';margin:0
5px}.breadcrumbs li:first-child:before{content:normal;margin:0}.widget_posts_with_images_widget
ul{display:table;border-collapse:collapse;margin:0
!important}.widget_posts_with_images_widget ul li
a{border:none !important;display:block;padding-bottom:0 !important}.widget_posts_with_images_widget
li{border-bottom:1px solid #ddd;padding-top:5px !important}.post-image-selector{float:left;margin:0
10px 5px 5px;max-width:78px !important;max-height:78px;display:block}.post-image-selector-wide{width:100%;height:auto;padding:5px}img.post-image-selector-wide{border-radius:3px}.post-selector-info{padding:0
5px}.post-selector-info
p{margin:5px
0}.post-selector-link{color:blue;text-align:right}body.medium #content_bg, body.medium .widget
ul{font-size:15px !important}body.large #content_bg, body.large .widget
ul{font-size:16px !important}ul.enlarge-font{float:right;padding:0;margin:0;display:block;height:32px}ul.enlarge-font
li{display:inline}ul.enlarge-font li
a{color:black;text-decoration:none;line-height:32px}ul.enlarge-font
a.normal{font-size:12px !important}ul.enlarge-font
a.medium{font-size:16px !important}ul.enlarge-font
a.large{font-size:19px !important}div.contactmission{width:50%;position:absolute;right:0;bottom:15px;z-index:9999}div.contactmission
.header_mail{float:right;background:#f8b67f;height:32px;border-radius:16px;padding-left:16px;clear:both;margin-top:10px;position:relative}.header_mail
.mail_text{float:left;height:32px;line-height:32px;padding-right:8px;color:white;font-weight:600}.header_mail .mail_text
a{color:white;font-weight:600;text-decoration:none}.header_mail .mail_text a:hover{text-decoration:underline}.header_mail
.mail_icon{width:32px;height:32px;float:right;overflow:hidden;border-radius:16px}.header_mail .mail_icon
a{display:block;width:32px;height:32px;line-height:32px;text-decoration:none;color:white;text-align:center;background:#f38629;font-family:'FontAwesome';font-size:17px}.header_mail
.header_mail_message{position:absolute;width:230px;padding:10px;top:0;right:0;background:white;border-radius:15px;border:#ccc solid 1px;z-index:9999}div.contactmission
.header_phone{float:right;background:#6de19d;height:32px;border-radius:16px;padding-left:16px;clear:both;margin-top:10px}.header_phone
.phone_text{float:left;height:32px;line-height:32px;padding-right:8px;color:white;font-weight:600}.header_phone .phone_text
a{color:white;font-weight:600;text-decoration:none}.header_phone .phone_text a:hover{text-decoration:underline}.header_phone
.phone_icon{width:32px;height:32px;float:right;background:#1bb25a;border-radius:16px;overflow:hidden}.header_phone .phone_icon
a{display:block;width:32px;height:32px;text-decoration:none;color:white;font-size:17px;text-align:center;line-height:33px;font-family:'FontAwesome'}.header-flag{width:32px;height:32px;text-align:center;border-radius:16px;overflow:hidden;float:right;margin-left:10px}.header-flag
a{display:block;width:32px;height:32px;border-radius:16px;overflow:hidden;position:relative}.header-flag a
img{position:absolute;left:-8px;top:0}.header-flag.sweden a img, .header-flag.finland a
img{left:-4px}.header-flag.spain a
img{left:-3px}.header-flag.belgium a img, .header-flag.france a img, .header-flag.italy a
img{width:32px;height:32px;left:0}.ifixwp_facebook_button_container{float:right}#header_language{float:left}#lang_sel_list{padding-left:0 !important}#lang_sel_list a, #lang_sel_list a:visited{padding-left:5px !important}#lang_sel_list ul a, #lang_sel_list_list ul a:visited{padding:3px
5px}#megaMenu{margin-bottom:5px}#megaMenu
ul.megaMenu{box-shadow:none !important;-moz-box-shadow:none !important;border:0
!important;background:#2f2f2f !important}#megaMenu
#megaMenuToggle{border:1px
solid #545454;border-bottom-color:#1f1f1f;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;-webkit-box-shadow:rgba(0, 0, 0, 0.4) 0px 0px 2px;-moz-box-shadow:rgba(0, 0, 0, 0.4) 0px 0px 2px;box-shadow:rgba(0, 0, 0, 0.4) 0px 0px 2px;height:18px;background:#2f2f2f;color:white;padding:5px
10px !important;float:left;text-align:center;line-height:19px;text-transform:uppercase;font-weight:bold;font-size:12px !important;text-indent:2px}#megaMenu .megaMenuToggle-icon{display:none !important}#megaMenu ul.megaMenu > li.menu-item > a, #megaMenu ul.megaMenu>li.menu-item>span.um-anchoremulator{padding:12px
12px !important}#megaMenu ul.megaMenu li.menu-item.ss-nav-menu-reg ul.sub-menu li.menu-item.megaReg-with-sub > a, #megaMenu ul.megaMenu li.menu-item.ss-nav-menu-reg ul.sub-menu li.menu-item.megaReg-with-sub > span.um-anchoremulator, #megaMenu ul.megaMenu li.menu-item.mega-with-sub > a, #megaMenu ul.megaMenu li.menu-item.mega-with-sub > span.um-anchoremulator, #megaMenu ul.megaMenu li.menu-item.ss-nav-menu-mega > a, #megaMenu ul.megaMenu li.menu-item.ss-nav-menu-mega>span.um-anchoremulator{padding-right:16px !important}#megaMenu ul.megaMenu li.menu-item.ss-nav-menu-reg li.menu-item.megaReg-with-sub > a::after, #megaMenu ul.megaMenu li.menu-item.mega-with-sub > a::after, #megaMenu ul.megaMenu li.menu-item.ss-nav-menu-mega > a::after, #megaMenu ul.megaMenu li.menu-item.ss-nav-menu-reg li.menu-item.megaReg-with-sub > span.um-anchoremulator::after, #megaMenu ul.megaMenu li.menu-item.mega-with-sub > span.um-anchoremulator::after, #megaMenu ul.megaMenu li.menu-item.ss-nav-menu-mega>span.um-anchoremulator::after{right:5px !important}#header_search_mobile{margin:0;padding:0;width:auto;float:right;margin-left:10px}#i_fix_wp_events h2, #i_fix_wp_events_daily thead tr, #i_fix_wp_events_monthly
h3{background-color:#CC081C !important;color:#fff !important}#i_fix_wp_events_daily thead tr
td{font-size:18px}#i_fix_wp_events_daily thead td, #i_fix_wp_events_monthly
h3{padding:15px
!important}.moduletable
td{text-align:center;padding:0;border-spacing:0}.erics-tip{clear:both;margin:10px
0;padding:20px
35px 20px 85px;background:#8fe68f;position:relative}.erics-tip:before{content:"\f0e5";font-family:'FontAwesome';font-size:36px;position:absolute;left:35px;top:25px}.cf:before,.cf:after{content:" ";display:table}.cf:after{clear:both}.cf{*zoom:1}.newsletter-input{width:60%;box-sizing:border-box;height:30px;border:none;padding:0
5px;font-size:15px;margin-top:5px}.newsletter-submit{background:#cc081c;border:none;color:#fff;padding:0
5px;height:30px;font-weight:normal;width:30%;box-sizing:border-box;font-size:15px;margin-top:5px;cursor:pointer}.vo-deal{text-align:center}.vo-deal
a{font-weight:bold;color:red}@media only screen and (max-width: 959px){.full_banner{background:#cc081c}.full_banner
.title{color:white}}@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){.bg_details{}#footer_decal{display:none}#wrapper{padding-bottom:0}}@media only screen and (min-width: 768px) and (max-width: 959px){.bg_details{}#footer_decal{display:none}#wrapper{padding-bottom:0}#header_search{}#wrapper,#header_menu{width:715px}#header_menu{padding:0;background:none;height:auto}#header_menu
ul{background:none;position:relative;width:710px}#header_menu
a{border:0;background:url(/wp-content/themes/travel_island/images/menu_bg_tile.jpg) repeat-x;border-radius:5px;margin:0
4px 0 0}#content_bg{}.full_banner{border-radius:5px;height:auto;padding-bottom:9px}.full_banner
.link{margin:0
0 0 10px}.full_banner .title,
.full_banner .link,
.full_banner
.content{float:none}#widget_area_main_wrap_full,#widget_area_main_wrap{float:left;width:675px;padding:20px;border-radius:5px}#widget_area_main_holder{float:left;width:694px;padding:0
0 0 20px}.fancy_post{margin:0
45px 20px 0}.fancy_post.columns3{width:202px}.widget{margin-right:10px;clear:none;float:left;width:208px}}@media only screen and (min-width: 480px) and (max-width: 767px){.blog_text
iframe{width:100%}.moduletable tbody tr td
div{width:auto !important}.bg_details,.bg_wave_tile,.bg_wave_tile_cover{background:none}#footer_decal{display:none}#wrapper{padding-bottom:0}#header_search,#header_search_content,#header_search_background{width:180px}#header_search_input{width:110px}#wrapper,#header_menu{width:440px}#header_menu{padding:0;background:none;height:auto}#header_menu
ul{background:none;position:relative;width:440px}#header_menu
a{border:0;background:url(/wp-content/themes/travel_island/images/menu_bg_tile.jpg) repeat-x;border-radius:5px;margin:0
4px 0 0}#content_bg{}#widget_area_main_wrap_full,#widget_area_main_wrap{float:left;width:400px;padding:20px;border-radius:5px}#widget_area_main_holder{float:left;width:419px;padding:0
0 0 20px}.fancy_post{margin:0
0 20px 52px}.fancy_posts .fancy_post:nth-child(even){float:left}.widget{margin-right:10px;clear:none;float:left;width:184px}.flexslider_wrapper .flexslider_sidebar li
a{font-size:13px;padding:0
0 0 7px;background:none}.full_banner{border-radius:5px;height:auto;padding-bottom:9px}.full_banner
.link{margin:0
0 0 10px}.full_banner .title,
.full_banner .link,
.full_banner
.content{float:none}.blog_footer{height:auto}.blog_footer
ul{width:300px}.blog_footer ul
li{clear:left}ul.products{margin-left:22px !important;margin-right:-30px !important}.products
li.first{clear:none}.products
li.last{margin-right:30px}#header{position:relative;padding-top:10px}#header_logo{width:100%}#megaMenu.megaFullWidth{width:auto !important}#header_extra{padding-top:0}#header
.slider{display:none}}@media only screen and (max-width: 767px){#header{padding-bottom:5px}#content_bg{border-radius:3px}.header-mobile{float:right;line-height:31px;display:block}.contactmission ul.enlarge-font{display:none}div.contactmission{top:0;width:100%;height:42px}div.contactmission
.header_phone{padding:0;background:transparent;clear:none}div.contactmission .header_phone
.phone_text{display:none;padding:0}div.contactmission
.header_mail{padding:0;background:transparent;clear:none;margin-right:10px}div.contactmission .header_mail
.mail_text{display:none;padding:0}.header-flag{margin-top:10px}.ifixwp_facebook_button_container.clear-both-no-margin-right{clear:none;margin-right:10px}}@media only screen and (max-width: 479px){.blog_text
iframe{width:100%}.moduletable tbody tr td
div{width:auto !important}body{background:#F0ECEC}.bg_details,.bg_wave_tile,.bg_wave_tile_cover{background:none}#footer_decal{display:none}#wrapper{padding-bottom:0}#header_search{margin:0;float:left;clear:both;display:none}#header_search,#header_search_content,#header_search_background{width:180px;height:40px}#header_search_input{width:110px}#wrapper,#header_menu{width:290px}#header_menu{padding:0;background:none;height:auto}#header_menu
ul{background:none;position:relative;width:290px}#header_menu
a{border:0;background:url(/wp-content/themes/travel_island/images/menu_bg_tile.jpg) repeat-x;border-radius:5px;margin:0
4px 0 0;font-size:14px}#content_bg{}#widget_area_main_wrap_full,#widget_area_main_wrap{float:left;width:270px;padding:20px
10px;border-radius:5px}#widget_area_main_holder{float:left;width:270px;padding:0
0 0 15px}.fancy_post{margin:0
0 17px 0;width:270px}.fancy_image
img{max-width:260px}.full_column .fancy_post.columns3,.fancy_post.columns3{width:270px}.widget{margin-right:10px;clear:left;float:left;width:250px}.flexslider_wrapper .flexslider_sidebar li
a{font-size:10px;padding:0;background:none}.flexslider_wrapper .flexslider_sidebar li a
span{display:block;text-align:center}.full_banner{border-radius:5px;height:auto;padding-bottom:9px}.full_banner
.link{margin:0
0 0 10px}.full_banner .title,
.full_banner .link,
.full_banner
.content{float:none}.products
li{width:129px;margin:0
5px 16px 0 !important}.products li a
img{padding:0;background:none;border-radius:0;width:100% !important}.products
li.first{clear:none}.products
li.last{margin-right:30px}div.product
div.images{width:255px}div.product
div.summary{width:auto}div.product div.images
img{width:100% !important;height:auto !important}div.blog
.date_flag{display:none}.blog_footer{height:auto}.blog_footer
ul{width:260px}.blog_footer ul
li{clear:left}.blog_summary{margin-top:10px}.blog_summary
.blog_thumb{margin:0
0 0 51px}.blog_summary
.blog_text.has_image{padding:0}.blog_summary .blog_text.has_image .entry-summary{padding-top:170px}img.alignleft,img.alignright,img.aligncenter{margin:3px;float:none}.blog_full
.fancy_image{float:none;margin:0
0 5px 0}#header{}#megaMenu.megaFullWidth{width:auto !important}#header_logo
img{max-width:290px}#header_search_mobile
#s{width:75px}#header
.slider{display:none}}.ifixwp_facebook_button_container{float:right;height:32px;margin-top:10px;margin-right:10px}.clear-both-no-margin-right{clear:both;margin-right:0}.ifixwp_facebook_button_container
.ifixwp_facebook_icon{width:32px;height:32px;background:#3c58a4;float:left;border-radius:16px}.ifixwp_facebook_button_container .ifixwp_facebook_icon
a{display:block;width:32px;height:32px;text-decoration:none;color:white;line-height:33px;text-align:center;font-family:'FontAwesome';font-size:17px}.ifixwp_facebook_button_container
.ifixwp_facebook_counter{text-align:center;width:32px;height:32px;padding-left:5px;background:url(/wp-content/plugins/ifixwp_facebook_button/facebook_counter.png) no-repeat center left;display:inline-block;float:left;line-height:32px;font-size:10px}body{position:static}#ifixwp-slider{background:#4d4d4d !important;background:-moz-linear-gradient(top, #4d4d4d 1%, #2f2f2f 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(1%,#4d4d4d), color-stop(100%,#2f2f2f));background:-webkit-linear-gradient(top, #4d4d4d 1%,#2f2f2f 100%);background:-o-linear-gradient(top, #4d4d4d 1%,#2f2f2f 100%);background:-ms-linear-gradient(top, #4d4d4d 1%,#2f2f2f 100%);background:linear-gradient(to bottom, #4d4d4d 1%,#2f2f2f 100%);left:0;height:182px;text-align:center;overflow:hidden;position:absolute;width:100%}#ifixwp-slider-buffer{position:relative;height:182px;margin-bottom:5px;z-index:-1}#ifixwp-slider
ul{position:absolute;margin:0;padding:0
50px;height:inherit;min-width:100%}#ifixwp-slider ul
li{background:transparent;display:block;margin:0;padding:10px
5px;transition:background 0.2s ease;vertical-align:top;width:135px;box-sizing:border-box;line-height:16px;float:left}#ifixwp-slider ul li:hover{background:#666}#ifixwp-slider ul li
a{font-size:12px;text-decoration:none;position:relative;display:block;width:125px;height:162px;color:#eee}#ifixwp-slider ul li a span.image-title{position:absolute;bottom:0;left:0;padding:5px
5px 0;width:125px;text-align:center;box-sizing:border-box;height:37px}#ifixwp-slider ul li a
img{max-width:125px;min-width:125px;border-radius:3px}#go-right,#go-left{background:url('/wp-content/plugins/ifixwp_image_banner/arrows.png') no-repeat black;height:182px;width:50px;opacity:0.2;transition:opacity 0.2s;position:absolute;display:none}#go-right:hover,#go-left:hover{opacity:0.7;cursor:pointer}#go-right{background-position:10px 60px;right:0}#go-left{background-position:-46px 60px;left:0}.i_fix_wp_maps{background-color:#fff;border:10px
solid #fff;display:block;min-height:400px;position:relative}.i_fix_wp_maps_map .gm-style-iw{height:auto !important}.i_fix_wp_maps_map
img{width:auto;max-width:none}#i_fix_wp_map_content{min-height:1.5em;cursor:auto;min-width:150px;color:#666}.i_fix_wp_maps_post_container{background-color:#fff;padding:10px
0;margin:10px
0}.i-fix-wp_page_i_fix_wp_maps
.i_fix_wp_maps_container{display:none}.i-fix-wp_page_i_fix_wp_maps .i_fix_wp_maps_post_container:target
.i_fix_wp_maps_container{display:table-row}.i_fix_wp_maps_post_container>h3{margin-left:1em}#i_fix_wp_maps.postbox .inside .i_fix_wp_maps,
.i_fix_wp_maps_container
.i_fix_wp_maps{float:right;width:300px;height:400px}.i_fix_wp_maps_locations{margin:0
-10px}.i_fix_wp_maps_form,.i_fix_wp_maps_add_new{display:inline-block;max-width:280px;padding:10px
10px 30px;position:relative;background-color:#f1f1f1;margin:10px;border:1px
solid #e5e5e5;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.i_fix_wp_maps_add_new{font-family:dashicons;font-size:50px;height:144px;vertical-align:top;width:100%;line-height:138px;color:#aaa;transition:all 0.2s}.i_fix_wp_maps_add_new:hover{background-color:#aaa;color:#fff;cursor:pointer}.i_fix_wp_maps_address{margin:0
0 10px;max-width:250px;height:25px}.i_fix_wp_maps_description{resize:none;width:100%;border-radius:5px;box-shadow:0 2px 3px rgba(0,0,0,0.2);border:1px
solid #ddd}.i_fix_wp_mapsp_description:focus{border:1px
solid #ddd}.i_fix_wp_maps_form:after{color:#FFF;content:"";font-family:dashicons;font-size:55px;line-height:0px;bottom:28px;position:absolute;text-shadow:0 3px 3px rgba(0,0,0,0.2)}.i_fix_wp_maps_delete{background-color:#aaa;border:medium none;color:#FFF;font-family:dashicons;font-size:25px;height:25px;line-height:25px;width:25px;position:absolute;top:10px;right:10px;padding:0;transition:all 0.2s}.i_fix_wp_maps_delete:hover{background-color:#555;text-shadow:0 2px 3px #000;cursor:pointer}.i_fix_wp_maps_import_container{position:relative;margin-top:10px}.i_fix_wp_maps_import_container
h4{margin-top:0}.button.i_fix_wp_maps_import_new{margin-top:7px}.i_fix_wp_maps_import_feedback{display:none;position:relative;margin-bottom:10px;padding:10px;width:100%;max-width:800px;border:1px
solid green}.i_fix_wp_maps_import_feedback.import_error{border-color:red}.i_fix_wp_maps_import_feedback.active{display:block}.i_fix_wp_maps_textarea{display:block;width:100%;max-width:800px;resize:none}@media all and (max-width: 1156px){#i_fix_wp_maps.postbox .inside .i_fix_wp_maps,
.i_fix_wp_maps_container
.i_fix_wp_maps{display:none}}.vo_events_overview
.blog_full{margin-top:0}.vo_events_overview
h2{margin-bottom:0}.vo-events-overview-header{width:100%;float:left;padding-bottom:20px;border-bottom:#ccc solid 1px;margin-bottom:30px}.vo-events-overview-current-year{float:right;font-size:16px}.vo-events-overview-current-year a.year-nav{color:#000;text-decoration:none}.vo-events-overview-current-year a.year-nav:hover{text-decoration:underline}.vo-events-overview-months{float:left}.vo-events-overview-months
ul{padding-left:0;list-style-type:none;margin:0}.vo-events-overview-months ul
li{padding-right:6px;display:inline-block;text-transform:uppercase;font-size:16px}.vo-events-overview-months ul li
a{color:#000;text-decoration:none}.vo-events-overview-months ul li a:hover{text-decoration:underline}.vo-events-overview-months ul li strong
a{background:#f0ecec;color:#CC081C;padding:0
3px}.vo-events-overview-months ul li span.past-month{color:#ccc}.vo-events-highlight-title{float:left;padding:0
15px;height:38px;line-height:38px;background:#CC081C;color:white;font-size:14px;font-weight:bold}.vo-events-main-highlight{width:100%;height:200px;overflow:hidden;position:relative;clear:both;margin-bottom:20px}.vo-events-main-highlight
img{width:100%}.vo-events-main-highlight img:hover{opacity:0.5}.vo-events-main-highlight-text{position:absolute;left:0;bottom:0;width:100%;box-sizing:border-box;padding:10px
20px 3px;background:url(/wp-content/plugins/vo-events/resources/images/highlight_description_bg.png) repeat-x top left}.vo-events-main-highlight-text
a{color:inherit;text-decoration:none}.vo-events-main-highlight-text a:hover{text-decoration:underline}.vo-events-highlight-description{display:block}.vo-events-sub-highlights{clear:both;width:100%;margin-left:-2px;margin-right:-2px}.vo-events-sub-highlight{float:left;box-sizing:border-box;padding:0
2px;width:33.3333%;margin-bottom:40px}.vo-events-sub-highlight-image{width:100%;overflow:hidden;height:105px;margin-bottom:10px}.vo-events-sub-highlight-image
img{width:100%}.vo-events-sub-highlight-image img:hover{opacity:0.5}.vo-events-sub-highlights
a{color:inherit;text-decoration:none}.vo-events-sub-highlights a:hover{text-decoration:underline}div.vo-events-overview-monthly-events-wrapper{padding:20px
10px;background:#eee;margin-bottom:22px}ul.vo-events-overview-monthly-events{list-style-type:none;overflow:hidden;margin:0;padding:0}ul.vo-events-overview-monthly-events
li{float:left;padding-left:10px;padding-right:10px;width:50%;box-sizing:border-box;margin-bottom:8px}ul.vo-events-overview-monthly-events li span.vo-events-overview-monthly-event-wrapper{display:block;padding-top:11px;border-top:#ccc solid 1px;overflow:hidden}ul.vo-events-overview-monthly-events li:nth-child(-n+2) span.vo-events-overview-monthly-event-wrapper{border:0;padding-top:0}.vo-events-overview-filters{line-height:40px;padding-left:15px;margin-bottom:20px;display:inline-block}.vo-events-overview-filters
*{display:inline-block}.vo-events-overview-filters
label{font-weight:bold}.vo-events-overview-filters input[type=text].date-field{border:#b5b5b5 solid 1px;height:38px;line-height:38px;padding:0
10px 0 36px;margin:0
7px 0 0;color:#666;font-size:16px;background:#fff url(/wp-content/plugins/vo-events/resources/images/calendar.png) no-repeat;background-position:left 10px center;width:140px;cursor:pointer}.vo-events-overview-filters .vo-events-overview-filter-button{background:#CC081C;color:white;height:40px;line-height:40px;padding:0
15px;cursor:pointer;text-decoration:none;font-weight:bold}.vo-events-overview-filters .vo-events-overview-filter-button:hover{background:#666}h2.vo-events-overview-daily-events-heading{margin-bottom:10px}div.vo-events-overview-daily-events-holder{position:relative}div.vo-events-overview-daily-events-overlay{width:100%;height:100%;position:absolute;top:0;left:0;background:#fff;opacity:0.8}table.vo-events-overview-daily-events{width:100%;border-spacing:0}table.vo-events-overview-daily-events tr
td{padding:12px;vertical-align:top;text-align:left;border-bottom:#ccc solid 1px}table.vo-events-overview-daily-events tr td.vo-events-overview-date{text-align:center;font-size:15px;min-width:125px;width:125px;vertical-align:middle}table.vo-events-overview-daily-events tr td.vo-events-overview-date.lighter{color:#ccc}table.vo-events-overview-daily-events tr td.vo-events-overview-date
span{font-size:24px;vertical-align:middle}table.vo-events-overview-daily-events tr td.vo-events-overview-date tr
td{border:none;text-align:center}table.vo-events-overview-daily-events tr td.vo-events-overview-date tr:first-child
td{padding-bottom:0}table.vo-events-overview-daily-events tr td.vo-events-overview-date tr:nth-child(2) td{padding-top:0}table.vo-events-overview-daily-events tr td.vo-events-overview-date tr td:first-child{padding-right:0}table.vo-events-overview-daily-events tr td.vo-events-overview-date tr td:nth-child(3){padding-left:0}table.vo-events-overview-daily-events tr td.vo-events-overview-date tr td:nth-child(2){padding:0;vertical-align:top}table.vo-events-overview-daily-events tr td.vo-events-overview-data{font-size:14px}table.vo-events-overview-daily-events tr td.vo-events-overview-data
a{font-weight:bold}span.no_link{color:#003DFF;font-weight:bold}@media only screen and (max-width: 767px){ul.vo-events-overview-monthly-events
li{width:100%}ul.vo-events-overview-monthly-events li span.vo-events-overview-monthly-event-wrapper{height:auto}ul.vo-events-overview-monthly-events li:nth-child(-n+2) span.vo-events-overview-monthly-event-wrapper{border-top:#ccc solid 1px;padding-top:11px}ul.vo-events-overview-monthly-events li:first-child span.vo-events-overview-monthly-event-wrapper{padding-top:0;border-top:0}.vo-events-main-highlight{height:auto;padding-bottom:50px}.vo-events-overview-filters
*{display:block;float:left}.vo-events-overview-filters
label{clear:both;width:50px;margin-bottom:10px}.vo-events-overview-filters .vo-events-overview-filter-button{clear:both}}@media only screen and (min-width: 480px) and (max-width: 767px){.vo-events-sub-highlight-image{height:80px}}@media only screen and (max-width: 479px){.vo-events-sub-highlight{width:100%;margin-bottom:10px}.vo-events-sub-highlight:last-child{margin-bottom:20px}table.vo-events-overview-daily-events tr td.vo-events-overview-date{min-width:30%;width:auto}.vo-events-overview-current-year{float:left;clear:both}.vo-events-main-highlight{height:auto;padding-bottom:80px}}