body
{
    font-family: 'Source code pro', Calibri, Serif;
    margin: 0px;
    padding: 0px;
    background-color:#C0C0C0;
}

nav
{
    width: 100%;
    background-color: #424558
}

nav ul
{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-size: 18px;
}

nav li
{
    list-style-type: none;
    float: left;
}

nav a
{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px; 
    color: #FFF;
}

.menu-recherche:hover
{
    border-top: 5px solid #0070bb;
    background-color: RGBa(000, 112, 192, 0.15);
}

.menu-image:hover
{
    border-top: 5px solid #e44d26;
    background-color: RGBa(228, 77, 38, 0.15);
}

.menu-accueil:hover
{
    border-top: 5px solid white;
    background-color: RGBa(250, 250, 250, 0.15);
}

nav li:hover a
{
    padding: 15px 30px 20px 30px;
}

th, td
{
    border: 1px solid black;
    text-align: center;
}

table
{
    border-collapse: collapse;
    font-size: 25px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}

td
{
    font-family: arial green;
    font-size: 18px
}

h1, h2
{
    text-align: center;
}

h1
{
    
}

h4
{
    margin-left: 840px;
}



    